.breadcrumb {
  padding: 18px;
  width: 100%;
  height: 64px;


  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;

    .span{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 175%;
      color: var(--neutral-black-b900);
    }
  }

  a, .arrow {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    color: var(--neutral-black-b500);
    text-decoration: none;
  }
}
