<div class="header-ads">
  Get 25% OFF on your first order.<strong>Order Now</strong>
</div>

<header class="container">
  <div class="logo-header">
    <img src="assets/images/logo-header.svg" width="40px" alt="logo-header">
    <div class="logo__brand">Ecommerce</div>
  </div>

  <div class="nav">
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a [cdkMenuTriggerFor]="menu">Categories</a>
        <ng-template #menu>
          <div class="menu">
            <ul>
              @for(category of categories$ | async; track category.id){
              <li routerLink="/category" [queryParams]="{
                category: [category.id]

              }">
                {{category.name}}
              </li>
              }
            </ul>
          </div>
        </ng-template>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>


  <div class="profile">
    <div class="profile__item" [routerLink]="['/profile','cart']" >
      <div>{{cartCount$ | async | currency:'USD':'$'}}</div>
      <img src="assets/icons/Cart.svg" alt="cart">
    </div>

    @if(isAuthenticated){
    <div id="profile" class="profile__item" routerLink="/profile">
      <img src="assets/icons/User-1.svg" alt="user">
    </div>

    <div class="profile__item" (click)="logout()">
      <img src="assets/icons/Logout.svg" alt="logOur">
    </div>
    } @else {
    <div  id="auth_profile" class="profile__item" routerLink="/auth">
      <img src="assets/icons/User-1.svg" alt="user">
      </div>
    }

  </div>
</header>
