
  <form class="form-container" [formGroup]="form">
    <h4 class="title">
      Change Password
    </h4>

    <app-input
      label="password"
      placeholder="Enter your password"
      formControlName="password"
      type="password"/>

    <app-alert
      *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
      type="error"
      message="Password is required"/>

    <app-alert
      *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')"
      type="error"
      message="Password must contain at least 6 characters, including uppercase, lowercase letters and numbers"
    />

    <app-input
      label="Confirm password"
      placeholder="Enter your password Again"
      formControlName="confirmPassword"
      type="password"/>



    <app-alert
      *ngIf="form.touched && form.hasError('confirmPassword')"
      type="error"
      message=" Passwords do not match"
    />

    <button
      app-button
      block
      (click)="submit()"
    >
      change password
    </button>

  </form>

