
<app-auth-head
  title="My Account"
/>

<div class="container  my_account">
 <div class="left">
    <ul class="side-menu">
      <li routerLink="/profile/orders" routerLinkActive="active">
        <div>
          <div class="side-manu__icon">
            <img src="assets/icons/Cart.svg">
          </div>
        </div>
        <div class="side-manu__name">Orders</div>
      </li>
      <li routerLink="/profile/wishlist" routerLinkActive="active">
        <div class="side-manu__icon">
          <img src="assets/icons/Heart.svg">
        </div>
        <div class="side-manu__name">Wishlist</div>
      </li>
      <li routerLink="/profile/password">
        <div class="side-manu__icon">
          <img src="assets/icons/Key.svg">
        </div>
        <div class="side-manu__name">Password</div>
      <li>
        <div class="side-manu__icon">
          <img src="assets/icons/Logout.svg">
        </div>
        <div class="side-manu__name">Logout</div>
      </li>
    </ul>
 </div>
 <div class="right">
   <router-outlet/>
 </div>

</div>
