@if (product$ | async; as product) {

  <app-breadcrumb [currentPage]="product.name"/>


  <div class="container product">
    <div class="product--images">
      <img [src]="product.cover" alt="">
    </div>
    <div class="product--info">
      <h1>Raw Black T-Shirt Lineup</h1>

      <div class="product--info__stock-reviews">
        <app-review *ngIf="product.reviews" [review]="product?.reviews"/>
        <app-stock-check *ngIf="product?.inStock" [inStock]="product?.inStock"/>
      </div>
      <div class="product--info__price">
        {{ product?.price | currency:'USD':'$' }}
      </div>

      <div class="product--info__colors">
        <div>Available Color</div>
        <app-color-item
          [color]="product.color"
        />
      </div>

      <div class="product--info__sizes">
        <div>Select Size</div>
        <app-size-item
          [size]="product.size">
        </app-size-item>
      </div>

      <div class="product--info__quantity">
        <div>QUANTITY</div>
        <app-quantity-input [(quantity)]="quantity" />

      </div>


  <div class="product--info__add-to-cart">
    <button
      class="add-to-cart-btn"
      app-button
      theme="primary"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>

    <button
      app-button
      theme="outline-icon"
      (click)="addToWishlist()">
      <img src="assets/icons/Heart.svg"/>
    </button>
  </div>
    </div>
  </div>

  <div class="container product- description">
    <h2>Detail</h2>
    <div class="content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(product.description)"></div>
<!--    <div [innerHTML]="insertScript"></div>-->
  </div>


<div class="container product--related">
  <h2>Related Products</h2>
<div class="products">
  @for(relatedProducts of relatedProducts$ | async;track relatedProducts.id){
  <app-product-item
    [product]="relatedProducts"
  >
  </app-product-item>
  }
</div>
</div>

}






