<app-auth-head
  title="Sing Up"
/>
<div class="auth-container">

  @if(errorMessage){
    <app-alert
      type="error"
      [message]="errorMessage"
    />
  }
  @if(successMessage){
    <app-alert
      type="success"
      [message]="successMessage"
    />
  }

  <form [formGroup]="form">
    <app-input
      formControlName="email"
      type="email"
      label="email"
      placeholder="email"
    />
    <app-input
      label="password"
      placeholder="Enter your password"
      formControlName="password"
      type="password"/>

    <div class="auth-actions">

      <button
        app-button
              block
              (click)="submit()"

      >
        Sign in
      </button>

    </div>
  </form>
</div>


